/* =========================================================
   TIPOGRAFÍA GLOBAL DEL SITIO
   ========================================================= */

:root {

  /* ===============================
     TITULOS
     =============================== */

  /* H1 */
  --title-h1: clamp(2.2rem, 5vw, 3.5rem);

  /* H2 */
  --title-h2: 2.5rem;

  /* H3 */
  --title-h3: 1.5rem;

  /* ===============================
     TEXTOS
     =============================== */

  /* P */
  --text-base: clamp(1rem, 2.5vw, 1.3rem);

  /* Texto pequeño */
  --text-small: 0.9rem;

  /* Texto botones */
  --text-button: 1rem;

  /*Texto stat*/
  --text-stat-number:55px;
  --text-stat-label: 18px;

  /* ===============================
     LINE HEIGHT
     =============================== */

  --lh-title: 1.2;
  --lh-text: 1.6;
}

/* =========================================================
   TITULOS
   ========================================================= */

/* H1 */
h1,
.hero-title {
  font-size: var(--title-h1);
  font-weight: 900;
  line-height: var(--lh-title);
}

/* H2 */
h2,
.section-title {
  font-size: var(--title-h2);
  font-weight: 800;
  line-height: var(--lh-title);
  text-align: center;
}

/* H3 */
h3,
.section-subtitle,
.card h3,
.service-card h3,
.guia-card h3,
.galeria .card h3 {
  font-size: var(--title-h3);
  font-weight: 600;
}

/* =========================================================
   TEXTOS GENERALES
   ========================================================= */

p,
li,
span,
a,
.hero-description,
.faq-question{
  font-size: var(--text-base);
  line-height: var(--lh-text);
}

/* TEXTO PEQUEÑO */

small {
  font-size: var(--text-small);
}

/* =========================================================
   BOTONES
   ========================================================= */

button,
.btn,
a.btn,
.hero-btn,
.tiktok-btn,
.btn-ver-todos,
.btn-comprar,
.btn-ubicacion,
.btn-ver-mas,
.btn-buscar,
.boton-correo{
  font-size: var(--text-button);
  font-weight: 700;
}

/* =========================================================
   FORMULARIOS
   ========================================================= */

input,
select,
textarea,
label {
  font-size: var(--text-base);
}

